a{
  color: #999;
}
a:hover{
  text-decoration: none;
  color: #C40000;
}
body{
  font-size: 14px;
  font-family: Arial;
}
button:hover,button:active{
  cursor: pointer;
}
button:active{
  transform: translateY(5px);
}
.container{
  min-width: 1110px;
}
.payedDiv{
  border: 1px solid #D4D4D4;
  margin: 10px auto 20px auto;
  padding: 0;
}
.payedTextDiv{
  height: 66px;
  background-color: #ECFFDC;
  padding: 20px;
  font-weight: bold;
}
.payedAddressInfo{
  padding-top: 35px;
  padding-left: 75px;
  font-size: 12px;
  padding-bottom: 25px;
  border-bottom: 1px dashed grey;
}
.payedCheckLink{
  color: #2D8CBA;
}
.warningDiv{
  padding: 25px;
  font-size: 12px;
}
.redColorBoldWord{
  color: #C40000;
  font-weight: bold;
}
