a{
  color: #999;
}
a:hover{
  text-decoration: none;
  color: #C40000;
}
body{
  font-size: 12px;
  font-family: Arial;
}
.container{
  min-width: 570px;
}
.fa-shopping-cart,.fa-home{
  color: #C40000;
  font-size: 15px;
}
nav{
  height: 27px;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
}
span{
  color: #999;
  margin-left: 10px;
  margin-right: 10px;
}
/* @media screen and (max-width:770px) {
  nav{
    width: 770px;
  }
} */
