a{
  color: #999;
}
a:hover{
  text-decoration: none;
  color: #C40000;
}
body{
  font-size: 14px;
  font-family: Arial;
}
button:hover,button:active{
  cursor: pointer;
}
button:active{
  transform: translateY(5px);
}
.container{
  min-width: 1110px;
}
.loginSmallDiv{
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  left: 980px;
  padding-top: 50px;
}
.login_acount_text{
  margin: 25px;
  font-size: 16px;
  font-weight: bold;
}
.loginInput{
  margin: 25px;
  font-size: 12px;
  width: 300px;
}
.loginInputIcon{
  width: 40px;
  height: 40px;
  font-size: 25px;
}
input{
  width: 260px;
  height: 40px;
}
.forger_registry{
  margin: 25px;
  font-size: 14px;
  width: 300px;

}
.redButton {
  color: white;
  background-color: #C40000;
  font-size: 14px;
  font-weight: bold;
  width: 300px;
  border-radius: 5px;
}
